{% extends 'base.html.twig' %}

{% block title %}Scrapp{% endblock %}

{% block body %}
<div class="container">
    <div id="page">
        <div class="padding">

            <h1>Inscription</h1>
            <!-- registration form from securityController -->
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {#
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.lastName) }}
                #}
                {# form_row(registrationForm.agreeTerms) #}

                <button class="btn btn-lg btn-primary" type="submit">
                    S'inscrire
                </button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
