<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lead Extractor{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}


            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% endblock %}
    </head>
    <body>

        <!-- nav top --> 
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <a class="navbar-brand" href="{{ path('home') }}">Sygma Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('scrapping_mail') }}">Scrapping Maps <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connection</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_pay') }}">Acheter des crédits</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('landing_page_1') }}">Présentation</a>
            </li>

            <li class="nav-item right">
                <a class="nav-link" href="#">Profil round</a>
            </li>

            </ul>
        </div>
        </nav>


        <!-- nav left --> 
        <div class="icon-bar">
            <a href="#"><i class="fa fa-home"></i></a> 
            <a href="#"><i class="fa fa-search"></i></a> 
            <a href="#"><i class="fa fa-envelope"></i></a> 
            <a href="#"><i class="fa fa-globe"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a> 
        </div>



        <br/> 
        <br/>

        <div class="page">

            {% block body %}
            
            {% endblock %}

        </div>
        <br/> 
        <br/>



        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}

    </body>
</html>
