<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lead Extractor{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Data mining is life</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Sygma Mail <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connection</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_pay') }}">Acheter des crédits</a>
            </li>

            </ul>
        </div>
        </nav>

        <br/> 
        <br/>

        <div class="container">
            {% block body %}
            
            {% endblock %}

        </div>
        <br/> 
        <br/>



        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}

    </body>
</html>
